.navbar{
  background-color: #0A246A!important;
}
#home-section{
  a{
    color: #0A246A!important;
    font-weight: bold;
  }
}
footer{
  a{
    color: #0A246A!important;
    font-weight: bold;
  }
}